@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');@font-face {
    font-family: "gilroy";
    src: url("../assets/fonts/Gilroy-ExtraBold.otf")
}

body{
    font-size: 16px;
    line-height:27px;
    background: #fff;
}

ul >li {
    list-style: none;
}


h1, h2, h3, h4, h5, h6{
    font-family: "gilroy";
}

span, p, li{
    font-family: 'Padauk', sans-serif;}

/*NAV*/

.navbar{
    padding: 0px !important;
    position: fixed;
    z-index:1000;
}

.social-links {
    float: left;
    display: block;
    justify-content: center;
    margin: 5px;
   
}
  
.social-links i {
    font-size: 24px;
    display: inline-block;
    color: #a1e3ba;
    line-height: 2.3;
    transition: 0.3s;
    filter: drop-shadow(5px 7px 5px -1px rgba(166,183,232,0.76));
}

.social-links i:hover {
    font-size: 25px;

}

/*SECTIONS*/
.section {
    height:100vh;
    width:100%;
}

/*HOME*/
.hero-section{
    background: url("../assets/imgs/nhero.png");
    background-size: cover ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
/*fabcba    background: #c19cce ;
*/
}
.header{
   
    position: absolute;
    top: 30%;
    padding-left: 7%;
}
.header h1{
    width: fit-content;
    color: #fff;
    letter-spacing: 6px;
    margin:  0;
    padding: 0;
    line-height:.9em;
    text-align:center !important;

}


.header h3{
    color: #fff;
    letter-spacing: 5px;
   

}

.hero-btn{
    border: 3px solid #a1e3ba;
    background:none;

    color: #fff;
    letter-spacing: 3px;
    border-radius: 20px;
}
.hero-btn:hover{
    background: #a1e3ba;

    color: #fff;
    font-weight: bold;
}
.contact-links a{
    margin-right: 15px;
}
/*ABOUT*/
.about-section{
    background:#fff;   
    display: flex;
    justify-content: center;
    align-items: center;

    height: auto;
    padding:8% 0;
    
}
.about-container{
    width: 35%;
    height:75%;

}
.about-container h4{
    text-align:center;
    color: #859ad5;
    margin: 0px 0 50px 0;   
    font-size:35px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #859ad5;

}
.about-container h4:hover{
    -webkit-text-fill-color: #859ad5;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: #859ad5;   

}
.basic-info div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.basic-info div img{
    width: 300px;
}
.about-info li b{
    color:#a1e3ba;
}
.about-info .social-links {
    display:block !important;
    padding:10px 0;
} 
.interests{
    text-align: justify;
    justify-content: center;
    padding-top: 5%;
}
.interests a{
    text-align: center;
}
.cv-button{
    margin-top: 5%;
    width:160px;
    height:40px;
    font-size:16px;
    border-radius: 20px;
    border: 3px solid #a1e3ba;

}
.cv-button:hover{
    color: #fff;
    background:#a1e3ba;
    font-weight: bold;

}
/*SKILLS*/
.skill-section{
    background: #fff;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.skill-container{
    width:  60%;
    height: auto;
}
.skill-container h4{
    text-align:center;
    color: #859ad5;
    margin: 0px 0 50px 0;
    font-size:35px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #859ad5;

}
.skill-container h4:hover{
    -webkit-text-fill-color: #859ad5;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: #859ad5;   

}
.skill-container .row{
    justify-content: center;
    align-items: center;
    padding:5%;

}
.skill-tools .col img{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*PROJECTS*/
.project-section{
    background: #fff ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

.project-container {
    width:  70%;
    height: 70%;
    margin:5% 0; 

}
.project-container h4{
    text-align:center;
    color: #859ad5;
    margin: 0px 0 50px 0;
    font-size:35px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #859ad5;

}
.project-container h4:hover{
    -webkit-text-fill-color: #859ad5;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: #859ad5;   

}



.proj-card img{
    border: 1px solid #a0b2e4;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.proj-card img:hover{
    transform: translateY(-5px);
}



/*MODAL*/
.project-modal ul {
    padding-left: 0 !important;
}
.project-modal h3{
    color: #859ad5;
    text-align: center;
    margin-bottom: 5%;
}
.project-modal h5{
    color: #859ad5;

}
.project-modal {
    justify-content:center;
    text-align: center;
}
.project-modal .tools{
}
.btn-demo, .btn-repo{
    width: 100px;
    height:40px;
    font-size:16px;
    border-radius: 20px;
    text-align: center;
    margin: 10% 10% 10% 15%;
    border: 3px solid #a1e3ba;

}
.btn-repo{
    margin: 10% 15% 10% -10% !important;

}
.btn-demo:hover, .btn-repo:hover{
    background:#a1e3ba;
    color:#fff;
}


/*BLOG*/
.blog-section{
    
    background: url("../assets/imgs/blog.png");
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.blog-container{
    width:  65%;
    height: 75%;
    overflow-y:scroll;
    text-align: center;
}
.blog-container h4{
    text-align:center;
    color: #859ad5;
    margin: 0px 0 50px 0;
    font-size:35px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #859ad5;

}
.blog-container h4:hover{
    -webkit-text-fill-color: #859ad5;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: #859ad5;   

}
.blog-cards{
    margin:5%;
    height:auto;
    border-radius:20px;
    padding: 20px 10px;
    background:#a1e3ba;

}


.blog-cards:hover{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)

}
.blog-cards .row{
    width:100%;
    margin:0;
    height:100%;
}
.img-fluid{
    width:93% !important;
}
.blog-title{
    font-weight:bold;
    text-decoration: underline;  
    color:#000;

}

.blog-description{
    text-align:justify;
 
}
/*CONTACT*/
.contact-section{
    
    background: url("../assets/imgs/contact.png");
    background-size: cover ;
    background-repeat: no-repeat;    
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;


}
.more-button{
    width:160px;
    height:40px;
    font-size:16px;
    border-radius: 20px;
    border: 3px solid #a1e3ba;
    margin-top: -50px;
}
.more-button:hover{
    color: #fff;
    background:#a1e3ba;
    font-weight: bold;
}
.contact-form{
    margin-top: 10% !important;
}
.contact-section .row{
   /* background:teal;*/ 
    height: auto;
    width:60%;
    text-align: center;
}
.form-group input, 
.form-group textarea{
    background:#889bcf;
    border-radius: 15px;
    margin: 10px 0;
    font-size:14px;
    border:none;
   
}

.form-group input{
    height:45px;
}
.form-group ::placeholder{
    color:#fff;
}
.btn-send{
    background-color: #6f86c7;  
    border-radius: 15px;
    color: #fff;
    border: none;
    height:40px;
    font-size:18px;
    padding:3px 6px;
    width: 100%;
}

.btn-send:hover{
    filter: drop-shadow(5px 5px 5px rgba(75, 93, 145, 0.3));
    color: #fff;
}

.contact-form h4{
    margin: 0px 0 50px 0;
    color: #fff;
    font-size:35px;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;

}
.blog-container h4:hover{
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: #fff;   

}
.contact-form{
    margin-top:5%;
    text-align:center;
}
form{
    width: 100% ;
}
.form-group{
    width:100%;
}
.contact-links{
    display: block;
    justify-content: center;
    margin: 5px 0 5px 0;
}
.contact-links a{
    color:#a1e3ba !important;
    font-size: 24px;
}
.contact-links a:hover{
    font-size: 25px;
}
.get-touch ul > li{
    margin: 25px 0  25px 0;
}
/*FOOTER*/
.footer{
    color:#fff;
    text-align: center;
    height: 100px;
    background-color: #a0b2e4 !important;
    padding-top: 20px;
}
#logo{
    width: 50px;
}

footer .copyright {
   bottom: 0;
   font-size:14px;
  }
  
/*ANIMATIONS*/

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}






/*RESPONSIVENESS*/


/*Small devices (landscape phones, 576px and down)*/
/*col*/
@media screen and (max-width: 576px) {
    /*HERO*/
    .header{
        text-align:center;
        width: 80%;
        transform: translate(15%, 0) !important;
        margin: 0;

    }
    .header h1{
        font-size: 60px;
    }
    .header h3{
        font-size:20px;
    }
    .hero-btn{
        font-size:13px;
        letter-spacing:2px;
        margin-top: 5px;
    }
    .contact-links a{
        margin-right: 5px;
    }
    /*ABOUT*/
    .about-container{
        width: 65%;
    }
    .basic-info img{
        width: 200px !important;
    }
    .about-info{
        text-align: center;
        font-size:14px;
        padding-left:0px !important;
    }
   
    /*SKILLS*/
    .skill-section{
        height: auto;
        
    }
    .skill-container{
        width:60% !important;
        height: auto;

    }
    .skill-tools .col img{
        width:60% !important;
    }
     /*PROJECTS*/
    
    .row-one{
        width: 100% !important;
        justify-content:center;
        text-align: center;
    }
    .row-one div{
        margin: 20px 0;
    }
    .content{
        width:75vw !important;
    }
    .btn-demo{
        margin: 10% 10% 10% 3%;
    }
    .btn-repo{
        margin: 10% 15% 10% 0% !important;

    }
    /*BLOG*/
    .blog-container{
        width: 80%;
    }
    .blog-cards{
       justify-content: center;
       text-align: center;
    }
    .blog-title{
        margin-top: 10px;
    }
    /*CONTACT*/
    .get-touch{
        text-align: center;
    }
    .get-touch ul {
        padding-left:0;
    }
  
    .btn-gotop{
        right: 10px !important;
        bottom:10px !important;

    }
}

/* Medium devices (tablets, 768px and down)*/
/*col-sm*/
@media screen and (min-width: 577px) and (max-width: 768px) {
    /*HERO*/
    .header{
        width: fit-content;
        top: 30%;
        padding-left: 3%;
    }
    .header h1{
        font-size: 75px;
    }
    .header h3{
        font-size:20px;
    }
    .hero-btn{
        margin-top: 5px;
    }
     /*ABOUT*/
     .about-container{
        width: 75%;
    }
 
    .basic-info img{
        width: 180px !important;
    }

    /*SKILLS*/
    .skill-section{
        height: auto;
        
    }
    .skill-container{
        width:60% !important;
        height: auto;

    }

     /*PROJECTS*/
    .project-container{
        justify-content: center;
        text-align:center;
        width: 60% !important;
    }
     
    .row-one div{
        margin: 30px 0;
    }
    .content{
        width:75vw !important;
    }
    /*SKILLS*/
 
    .skill-tools .col img{
        width:60% !important;
    }
    /*BLOG*/
    .blog-container{
        width: 70%;
    }
    .blog-cards{
       justify-content: center;
       text-align: center;
    }
    .blog-title{
        margin-top: 10px;
    }
     /*CONTACT*/
    .get-touch{
        text-align: center;
    }
  
    .get-touch ul {
        padding-left:0;
    }
    .btn-gotop{
        right: 25px;
        bottom: 15px !important;   
    }

}

/*Large devices (desktops, 767px and down)*/
/*col-md TABLET*/ 
@media screen and (min-width: 767px)  {
    /*HERO*/
    .header{
        width: fit-content;
        top: 30%;
        padding-left: 5%;
    }
    .header h1{
        font-size: 75px;
    }
    .header h3{
        font-size:25px;
    }
    .hero-btn{
        margin-top: 10px;
    }
    /*ABOUT*/
    .about-container{
        width: 80%;
    }
    .basic-info img{
        width: 190px !important;
    }
    /*SKILLS*/
    .skill-section{
        height: auto;
        
    }
    .skill-container{
        width:60% !important;
        height: auto;

    }
   
    .skill-tools .col img{
        width:60% !important;
    }
     /*PROJECTS*/
    .project-container{
        justify-content: center;
        text-align:center;
        width: 80% !important;        

    }

    .row-one{
        justify-content:center;
    }
    .row-one div{
        margin: 30px 0;
    }
    .content{
        width:75vw !important;
    }

    

    /*BLOG*/
    .blog-container{
        width:  85%;
    
    }
  
    /*CONTACT*/
    .contact-section .row{ 
        width: 60% !important;
    }
    .get-touch{
        text-align: right;
    }
  
    .get-touch ul {
        padding-left:0;
    }

    .btn-gotop{
        right: 25px;
        bottom: 15px !important;   
    }

}

/* X-Large devices (large desktops, 1200px and down)*/
/*col-lg*/
@media screen and (min-width: 993px) and (max-width: 1200px) {
     /*HERO*/
     .header{
        width: fit-content;
        top: 30%;
        padding-left: 7%;
    }
    .header h1{
        font-size: 80px;
    }
    .header h3{
        font-size: 30px;
    }
    .hero-btn{
        margin-top: 10px;
    }
     /*ABOUT*/
     .about-container{
        width: 60%;
    }
    .basic-info img{
        width: 240px !important;
    }
    /*SKILLS*/

   
    .skill-tools .col img{
        width:60% !important;
    }
    /*PROJECTS*/
    .project-container{
        justify-content: center;
        text-align:center;
        width: 70% !important;        

    }

    .row-one{
        justify-content:center;
    }
    .row-one div{
        margin: 20px 0;
    }
    .content{
        width:60vw !important;
    }
    /*BLOG*/
    .blog-container{
        width:  80%;
    
    }
    /*CONTACT*/
    .contact-section .row{ 
        width: 60% !important;
    }


}
/* XX-Large devices (larger desktops, 1400px and down)*/
/*col-xl*/
@media screen and (min-width: 1201px) and (max-width: 1440px){
  /*HERO*/
   
    .header h1{
        font-size: 90px;
    }
    .header h3{
        font-size: 35px;
    }
    .hero-btn{
        margin-top: 10px;
    }
    /*ABOUT*/
     .about-container{
        width: 50%;
    }
    .basic-info img{
        width: 300px !important;
    }
    /*SKILLS*/
   
    .skill-tools .col img{
        width:60% !important;
    }
     /*PROJECTS*/
     .project-container{
        justify-content: center;
        text-align:center;
        width: 70% !important;        

    }
    .row-one{
        justify-content:center;
    }
    .row-one div{
        margin: 30px 0;
    }
    .content{
        width:60vw !important;
    }
     /*BLOG*/
     .blog-container{   
        width: 65%;
    }
    
    .img-fluid{
        width:100%;
    }
    
     /*CONTACT*/
   .contact-section .row{ 
    width: 50% !important;
}
}


/*For Large Screens (1441px and up)*/
@media screen and (min-width: 1441px) {
    /*HERO*/
   
    .header h1{
        font-size: 130px;
    }
    .header h3{
        font-size: 45px;
    }
    .hero-btn{
        margin-top: 10px;
    }
    /*ABOUT*/
    .about-container{
        width: 45%;
    }
    .about-info{
        line-height: 40px;
    }
    .basic-info img{
        width: 300px !important;
    }
    /*SKILLS*/
   
    .skill-container{
        width: 50%;
    }
    .skill-tools .col img{
        width:60% !important;
    }
    /*PROJECTS*/
    .project-container{
        justify-content: center;
        text-align:center;
        width: 70% !important;        

    }
   
    .row-one{
        justify-content:center;
    }
    .row-one div{
        margin: 30px 0;
    }
    .content{
        width:60vw !important;
    }
    /*BLOG*/
    .blog-container{
        width: 55%;
    }
   
    .img-fluid{
        width: 80%;
    }
     /*CONTACT*/
   .contact-section .row{ 
    width: 40% !important;
}

}


.btn-gotop {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 60px;
    right: 30px;
    border: solid 1px #a1e3ba;
    border-radius: 50%;
    color: #a1e3ba;
    background-color: transparent;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s;
}
    .btn-gotop.show {
      opacity: 1;
    }
  
    .btn-gotop i {
      font-size: 24px;
    }
  
    .btn-gotop:hover {
      color:#fff;
      background-color: #a1e3ba;
    }
  
  

.overlay {
    position: fixed;
    display: block; 
    overflow: auto; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 999; 
    cursor: pointer;
  }

.content {
        margin: 15% auto;
        background-color: white;
        border-radius: 5px;
        width: 50vw;
        padding: 2rem;
        position: relative;
  }

